@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato','sans-serif';
}

.box-shadow{
  box-shadow: 0px 0px 25px 0px rgba(151, 151, 151, 0.25);
}

.service-box-shadow{
  box-shadow: 1px 1px 8px 0px #F4F6F9, 4px 4px 10px 0px #D8D8D8 inset, -6px -5px 12px 0px #FAFBFC inset;
}


@layer utilities {
  .padding {
    @apply sm:px-16 lg:px-24 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 lg:px-24 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

@layer components{
  .custom-btn{
    @apply border border-sim-blue border-solid rounded-xl px-8 py-4 font-extrabold text-sm text-center capitalize cursor-pointer
  }

  .custom-btn.secondary{
    @apply  bg-sim-blue text-white 
  }

  .hover{
    @apply hover:bg-sim-blue hover:text-white hover:transition-all
  }

  .secondary-hover{
    @apply hover:bg-blue-900 hover:transition-all
  }

}


.custom-hover li:hover {
  @apply transition duration-300 ease-in-out;
}

.custom-hover li:hover a {
  @apply border-b-2 border-slate-100 pb-1; /* Change border color and size as needed */
}

.navlinks-hover li:hover{
  @apply transition duration-300 ease-in-out;
}

.navlinks-hover li:hover a{
  @apply border-b-2 border-sim-blue pb-1;
}